@media (max-width: 1440px) {


	.pets-paf__info-box {
		&::after {
			width: 725px;
		}
	}

	.pets-paf__info-box {
		gap: 20px;
	}

	/* .slick-slide {
		margin: 0 10px;
	} */

	.pets-think {

		&__box {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			gap: 50px;
			padding-top: 100px;
		}

		&__box-slider {
			margin-left: 10px;
		}
	}

	.footer {
		&-content__top-logo {
			width: 344px;
		}

		&-content__top-contact {
			width: 346px;
		}
	}

	.care-animals {
		gap: 20px;
		grid-template-areas:
			"A A A   A A A"
			"B B B   C C C"
			"D D D   E E E"
			". . F   F . .";
		max-width: 930px;

		margin: 0 auto;
	}

	.map {
		&-map {
			width: 100%;
			height: 777px;
			background-size: cover;
		}

		.container {
			margin: 0;
			padding: 0;
		}

	}

	.video {
		&__head-video {
			grid-template-columns: minmax(auto, 1025px);
			grid-template-rows: minmax(auto, 760px);
			justify-content: end;
		}

		&__head-more-slider-box {
			grid-template-columns: repeat(3, 265px);
			column-gap: 20px;
			padding-left: 20px;

			img {
				width: 100%;
			}
		}

		&__head-more--btn {
			width: 968px;
			left: 32px;
		}

		.container {
			margin: 0;
		}
	}

	.video {

		&-animals--nobg img {
			left: 17px;
		}

		&-animals--openbtn {
			cursor: pointer;
			top: 0;
			width: 115px;
			height: 80px;
			background: url(../images/cam/double-arrows.svg) 50% 50% no-repeat;

			&::after {
				display: none;
			}
		}

		&-animals--btn::after {
			content: "";
			background-image: url(../images/cam/btn-down.svg);
			background-position: 50% 50%;
			width: 115px;
			height: 80px;
			background-repeat: no-repeat;
			position: absolute;
			left: 0px;
			top: -14px;
		}

		&-menu {
			width: 115px;
		}
	}
}