@media (max-width: 1440px) {


	.pets-paf__info-box {
		&::after {
			width: 725px;
		}
	}

	.pets-paf__info-box {
		gap: 20px;
	}

	.slick-slide {
		margin: 0 10px;
	}

	.pets-think {

		&__box {
			grid-template-columns: auto;
			grid-template-rows: auto auto;
			gap: 50px;
			padding-top: 100px;
		}

		&__box-slider {
			margin-left: 10px;
		}
	}

	.footer {
		&-content__top-logo {
			width: 344px;
		}

		&-content__top-contact {
			width: 346px;
		}
	}

	.care-animals {
		gap: 20px;
		grid-template-areas:
			"A A A   A A A"
			"B B B   C C C"
			"D D D   E E E"
			". . F   F . .";
		max-width: 930px;

		margin: 0 auto;
	}

	.map {
		&-map {
			width: 100%;
			height: 777px;
			background-size: cover;
		}

		.container{
			margin: 0;
			padding: 0;
		}

	}
}